2024_2025/PSOS/Term1/20241018_SOAP/ASP.NET/SoapServiceClient/SoapServiceClient/Connected Services/MyLibraryService/MyServiceWsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="MyServiceWsdl" targetNamespace="http://localhost/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <xs:element name="GreetUser_Request">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="user_name" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GreetUser_Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="answer" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="GreetUser_RequestMessage">
    <part name="parameters" element="tns:GreetUser_Request" />
  </message>
  <message name="GreetUser_ResponseMessage">
    <part name="parameters" element="tns:GreetUser_Response" />
  </message>
  <portType name="MyServicePortType">
    <operation name="GreetUser">
      <input message="tns:GreetUser_RequestMessage" />
      <output message="tns:GreetUser_ResponseMessage" />
    </operation>
  </portType>
  <binding name="MyServiceBinding" type="tns:MyServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GreetUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MyService">
    <port name="MyServicePort" binding="tns:MyServiceBinding">
      <soap:address location="http://mylibrary.loc/webapi/soap/server.php" />
    </port>
  </service>
</definitions>